<div class="card">
    <div class="card-header bg-dark text-white" id="headingBusiness" tabindex="0" data-toggle="collapse"
        data-target="#business" aria-expanded="true" aria-controls="business">
        <h5 class=" mb-0">
            <i class="fas fa-business-time pt-1"></i> Основные бизнес показатели "{{full_name}}"
            <i class="fas fa-sync float-right pt-1 text-muted" id="update_sign"></i>
            <small class="font-italic float-right mx-2 pt-1" id="last_update"></small>
        </h5>
    </div>
    <div id="business" class="collapse show" aria-labelledby="headingBusiness">
        <div class="card-body-block bg-light">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="card bg-dark text-white my-1" id="business_revenue_header">
                        <div class="card-header">
                            <h6 class="card-title">Продажи <i class="fas fa-info  float-right pt-1" tabindex="0"
                                    data-html="true" data-toggle="popover" data-placement="right"
                                    data-content="Выручка за сегодня | выручка неделей ранее"></i>
                            </h6>
                        </div>
                        <div class="card-body" id="business_revenue_tooltip" tabindex="0" data-html="true"
                            data-toggle="tooltip" data-placement="right">
                            <h4 class="card-text text-center" id="business_revenue_body">-</h4>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="card bg-dark text-white my-1" id="alcohol_documents_header">
                        <div class="card-header">
                            <h6 class="card-title">Приемка алкоголя <i class="fas fa-info  float-right pt-1 tabindex="
                                    0" data-html="true" data-toggle="popover" data-placement="right"
                                    data-content="Кол-во открытых документов"></i></h6>
                        </div>
                        <div class="card-body">
                            <h4 class="card-text text-center" id="alcohol_documents_body">-</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="card bg-dark text-white my-1" id="sellers_perfom_header">
                        <div class="card-header">
                            <h6 class="card-title">Производительность кассиров <i class="fas fa-info  float-right pt-1"
                                    tabindex=" 0" data-html="true" data-toggle="popover" data-placement="right"
                                    data-content="Кол-во кассиров<br> 
                                                (При нажатии на блок можно получить дополнительную информацио)"></i>
                            </h6>
                        </div>
                        <div class="card-body" tabindex="0" data-toggle="modal" data-target="#sellers_perfom_modal">
                            <h4 class="card-text text-center" id="sellers_perfom_body">-</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="sellers_perfom_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Производительность кассиров</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="sellers_perfom_modal_body">
                    Нет ошибок
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-primary text-white"
                        href="{% url 'download_sellers_perfom_report' sap=sap %}" target="_blank">Скачать отчет</a>
                    <a type="button" class="btn btn-secondary text-white" data-dismiss="modal">Закрыть</a>
                </div>
            </div>
        </div>
    </div>