{% if incidents %}
<div class="card">
    <div class="card-header bg-warning text-white" id="headingIncidents" tabindex="0" data-toggle="collapse"
        data-target="#incidents" aria-expanded="true" aria-controls="scales">
        <h5 class=" mb-0">
            <i class="fas fa-tasks pt-1"></i>
            Инциденты
        </h5>
    </div>
    <div id="incidents" class="collapse show" aria-labelledby="headingIncidents">
        <div class="card-body-block bg-light">
            <div class="table-responsive-lg">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th>Дата регистрации</th>
                            <th>Проблема</th>
                            <th>№ инцидента</th>
                            <th>Дата решения</th>
                            <th>Текущий статус</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for incident in incidents %}
                        <tr class="table-{{incident.criticality}}">
                            <td>{{incident.created}}</td>
                            <td>{{incident.problem}}</td>
                            <td>{{incident.incident}}</td>
                            <td>{{incident.date_solved}}</td>
                            <td>{{incident.current_status}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}