<div class="card">
    <div class="card-header bg-dark text-white" id="headingProducts" tabindex="0" data-toggle="collapse"
        data-target="#products" aria-expanded="true" aria-controls="products">
        <h5 class=" mb-0">
            <i class="fas fa-apple-alt pt-1"></i> Товары
        </h5>
    </div>
    <div id="products" class="collapse show" aria-labelledby="headingProducts">
        <div class="card-body-block bg-light">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="card bg-dark text-white my-1" id="business_rx_header">
                        <div class="card-header">
                            <h6 class="card-title">PX <i class="fas fa-info  float-right pt-1" tabindex=" 0"
                                    data-html="true" data-toggle="popover" data-placement="right"
                                    data-content="Сумма списанных товаров"></i>
                            </h6>
                        </div>
                        <div class="card-body" id="business_rx_tooltip" tabindex="0" data-html="true"
                            data-toggle="tooltip" data-placement="right">
                            <h4 class="card-text text-center" id="business_rx_body">-</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="card bg-dark text-white my-1" id="overdue_products_header">
                        <div class="card-header">
                            <h6 class="card-title">Просроченая продукция <i class="fas fa-info  float-right pt-1"
                                    tabindex=" 0" data-html="true" data-toggle="popover" data-placement="right"
                                    data-content="Кол-во позиций просроченных товаров<br>(При нажатии на блок можно получить<br>информацио о товарах и скачать отчет<br>за сегодняшний день)"></i>
                            </h6>
                        </div>
                        <div class="card-body" tabindex="0" data-toggle="modal" data-target="#overdue_products_modal">
                            <h4 class="card-text text-center" id="overdue_products_body">-</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="card bg-dark text-white my-1" id="alcohol_errors_header">
                        <div class="card-header">
                            <h6 class="card-title">Ошибки продажи алкоголя <i class="fas fa-info  float-right pt-1"
                                    tabindex=" 0" data-html="true" data-toggle="popover" data-placement="right"
                                    data-content="При нажатии на блок можно получить информацио<br>об ошибках и скачать отчет за сегодняшний день"></i>
                            </h6>
                        </div>
                        <div class="card-body" tabindex="0" data-toggle="modal" data-target="#alcohol_errors_modal">
                            <h4 class="card-text text-center" id="alcohol_errors_body">-</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="card bg-dark text-white my-1" id="low_saled_products_header">
                        <div class="card-header">
                            <h6 class="card-title">Товары с низкими продажами <i class="fas fa-info  float-right pt-1"
                                    tabindex=" 0" data-html="true" data-toggle="popover" data-placement="right"
                                    data-content="Кол-во позиций товаров, продажи которых<br>за сегодня упали более чем на 50% по<br>сравнению со средними продажами за 21<br>день
                                                (При нажатии на блок можно получить<br> информацио о товарах и скачать отчет)"></i>
                            </h6>
                        </div>
                        <div class="card-body" tabindex="0" data-toggle="modal" data-target="#low_saled_products_modal">
                            <h4 class="card-text text-center" id="low_saled_products_body">-</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="card bg-dark text-white my-1" id="stoped_products_header">
                        <div class="card-header">
                            <h6 class="card-title">Товары без движения <i class="fas fa-info  float-right pt-1"
                                    tabindex=" 0" data-html="true" data-toggle="popover" data-placement="right"
                                    data-content="Кол-во позиций товаров, без движения более 72 часов<br> 
                                                    (При нажатии на блок можно получить информацио о товарах и скачать отчет)"></i>
                            </h6>
                        </div>
                        <div class="card-body" tabindex="0" data-toggle="modal" data-target="#stoped_products_modal">
                            <h4 class="card-text text-center" id="stoped_products_body">-</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="card bg-dark text-white my-1" id="minus_products_header">
                        <div class="card-header">
                            <h6 class="card-title">Товары с отрицательными остатками <i
                                    class="fas fa-info  float-right pt-1" tabindex=" 0" data-html="true"
                                    data-toggle="popover" data-placement="right"
                                    data-content="Кол-во позиций товаров, с отрицательным остатком<br> 
                                                        (При нажатии на блок можно получить информацио о товарах и скачать отчет)"></i>
                            </h6>
                        </div>
                        <div class="card-body" tabindex="0" data-toggle="modal" data-target="#minus_products_modal">
                            <h4 class="card-text text-center" id="minus_products_body">-</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="overdue_products_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Просроченная продукция</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="overdue_products_modal_body" style="overflow-y: scroll;height: 80%;">
                Нет ошибок
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary text-white"
                    href="{% url 'download_overdue_products_report' sap=sap %}" target="_blank">Скачать отчет</a>
                <a type="button" class="btn btn-secondary text-white" data-dismiss="modal">Закрыть</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="low_saled_products_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Товары с низкими продажами</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="low_saled_products_modal_body" style="overflow-y: scroll;height: 80%;">

            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary text-white"
                    href="{% url 'download_low_saled_products_report' sap=sap %}" target="_blank">Скачать отчет</a>
                <a type="button" class="btn btn-secondary text-white" data-dismiss="modal">Закрыть</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="alcohol_errors_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ошибки продажи алкоголя</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="alcohol_errors_modal_body">
                Нет ошибок
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary text-white"
                    href="{% url 'download_alcohol_errors_report' sap=sap %}" target="_blank">Скачать отчет</a>
                <a type="button" class="btn btn-secondary text-white" data-dismiss="modal">Закрыть</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="stoped_products_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Товары без движения</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="stoped_products_modal_body">
                Нет ошибок
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary text-white"
                    href="{% url 'download_stoped_products_report' sap=sap %}" target="_blank">Скачать отчет</a>
                <a type="button" class="btn btn-secondary text-white" data-dismiss="modal">Закрыть</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="minus_products_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Товары с отрицательными остатками</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="minus_products_modal_body">
                Нет ошибок
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary text-white"
                    href="{% url 'download_minus_products_report' sap=sap %}" target="_blank">Скачать отчет</a>
                <a type="button" class="btn btn-secondary text-white" data-dismiss="modal">Закрыть</a>
            </div>
        </div>
    </div>
</div>