{% extends 'base.html'%}
{% load static %}
{% load filters %}

{% block script %}
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/popovers.js' %}"></script>
{% endblock %}
{% block title %}
X5 Reatail Group
{% endblock %}



{% block Content %}
    {% include "main/_message.html" %}
    <div class="row">
        <div class="col-xl-6 col-md-12">
            {% include "main/_business.html" %}
            {% include "main/_products.html" %}
            {% include "main/_services.html" %} 
        </div>
        <div class="col-xl-6 col-md-12">
            {% include "main/_poses.html" %}
            {% include "main/_kso.html" %}
            {% include "main/_scales.html" %}      
        </div> 
    </div>
    {% include "main/_incidents.html" %} 
{% endblock %}
