{% extends 'base.html'%}

{% block title %}
X5 Reatail Group
{% endblock %}



{% block Content %}
{% include "main/_message.html" %}
<div class="row">
    <div class="col-xl-6 col-md-12">
        {% include "main/_business.html" %}
         
    </div>
    <div class="col-xl-6 col-md-12">
            {% include "main/_poses.html" %}
            {% include "main/_scales.html" %}
            {% include "main/_services.html" %}
        
    </div>
    {% include "main/_incidents.html" %} 
</div>
{% endblock %}