<div class="container-fluid my-1">
        <div class="card bg-light">
            <div class="card-header">
                    <p class="card-text">Кассы {{store}} <i class="fas fa-cash-register float-right"></i></p>
            </div>
            <div class="card-body">
                <div class="row">
                    {% for type in poses %}
                        <div class="col-xl-6 col-lg-12">
                            <div class="card my-1 bg-{{type}}">
                                <div class="card-body">
                                    {% for pos in type.items %}
                                        <p class="card-text">{{pos.name}}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>